body{
    font-family: "accademia";
    /* background-color: aliceblue; */
    margin: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 82%, 
    rgba(226,9,96,1) 82%, rgba(226,9,96,1) 83%, 
    rgba(235,95,151,1) 83%);;
}

@font-face {
    font-family: "accademia";
    src: url(/font/lucida\ bright.TTF);
}


a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline rgb(55, 242, 255) 2px;
}

main {
    max-width: auto;
    margin: 0;
}
header img{
    width: 10%;
}

header p{
    font-size: 30px;
    margin-left: 20px;
}
header nav ul{
    margin: 0;
    margin-right: 20px;
    list-style: none;
    display: flex;
    gap: 30px;
} 
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(235,95,151,1);
}

#titolo{
    font-size: 50px;
    margin: 20% 0;
    padding: 0px 20px;
    background-color: #FFDB3B;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
#conclusione{
    font-size: 50px;
    margin: 5% 0 20%;
    padding: 0px 20px;
    background-color: #FFDB3B;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

main h2{
    font-size: 40px;
    padding: 0px 30px;
    background-color: #FFDB3B;
    border-radius: 15px;

}

.sezione{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 200px;
}

.sezione ul{
    text-align: left;
    max-width: 300px;
    margin: 0;
    padding: 0;
}

.sezione p:before{
    content: "•"; 
    margin-right: 5px;

}


main div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
/*
.sezione{
    flex-direction: column;
    
}
*/
.boxcard{
    
    display:flex; 
    justify-content: space-around;
    
}
.card{
    display: flex;
    justify-items: space-around;
    flex-direction: column;
    
}



.sezione img{
    max-width: 100%; 
    border-radius: 100px; 
    box-shadow:-30px 0px 50px -10px rgba(0, 0, 0, 0.582);
    /* margin-right: 100px; */
    height: 320px;
    width: 320px;
    object-fit:cover ;     
}

footer {
    align-content: center;
    padding: 50px ;
    background: rgba(235,95,151,1);
}
.footer_up{
    display: flex;
    justify-content: space-between;
}


footer img{
    width: 15%;
}
footer img:hover{
    border: 1px solid #FFDB3B;
}

footer ul {
    border-top:1px solid  black;
    padding: 20px 0 0;
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}

@media (min-width: 1300px){
    #titolo, #conclusione{
        font-size: 70px;
    }
    main h2{
        font-size: 50px;
        padding: 0px 30px;
        background-color: #FFDB3B;
        border-radius: 15px;
    
    }
    ul{
        font-size: 16px;
    }
    .sezione img{
        max-width: 100%; 
        border-radius: 120px; 
        box-shadow:-30px 0px 50px -10px rgba(0, 0, 0, 0.582);
        /*
        margin-right: 100px;
        */
        height: 400px;
        width: 400px;
        object-fit:cover ;

}
}
@media (max-width: 750px){
    #titolo, #conclusione{
        font-size: 40px;
    }
    main h2{
        font-size: 30px;
        padding: 0px 30px;
        background-color: #FFDB3B;
        border-radius: 15px;
    
    }
     ul{
        font-size: 13px;
    }
   .boxcard{
        flex-direction: column;
        align-items: center;
   }
   footer ul {
    border-top:1px solid  black;
    padding: 20px 0 0;
    font-size: 11px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
    }
}

@media (max-width: 550px){
    #titolo, #conclusione{
        font-size: 30px;
    }
    .sezione ul{
 
        max-width: 200px;

    }
    .footer_up{
        font-size: 13px;
        display: flex;
        justify-content: space-between;
    }

    
}